<div ng-controller="leads_controller">
  <div window title="Leads" width='500px' left='100px' top='100px' closed="false">
    <div style="height:200px;overflow-y:scroll;">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Email</th>
            <th>Motivation</th>
            <th>Validated</th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="lead in leads">
            <td>{{ lead.email}}</td>
            <td>{{ lead.motivation }}</td>
            <td>{{ lead.validated }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>