<div ng-controller="planet_controller">
  <div window title="A Planet" width='800px' left='50px' top='50px'>
    <table>
      <tr>
        <td>
          <div renderer="planet" width=0 style="display:inline-block;"></div>
        </td>
        <td style="vertical-align: top;">
          <input type="text" ng-model="$parent.idx"/>
          <input type="number" ng-model="$parent.feature_size"/>
          <button class="btn btn-xs" ng-click="generate()" style="float:top;">Generate</button>
        </td>
      </tr>  
    </table>    

    <div>
      
    </div>
    <hr>
    <div>
      <ul>
        <li> This is some stats </li>
        <li> ... and some more  </li>
        <li> ... and some more  </li>
        <li> ... and some more  </li>
        <li> ... and some more  </li>
      </ul>
    </div>
  </div>
</div>
